@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&display=swap');
.navbar{
   background-color:#170D5A;
   margin-top: -10px;
   padding-bottom: 20px;
}


.protection{
    background-color: #F3F8FA;
    height: 590px;
    display: grid;
    place-items: center;
}

.all{
    background-color: white;
    height: 500px;
    width: 80%;
    overflow: hidden;
    margin-top:00%
}

.all img {
    float: left;
    width: 35%;
    margin-top: 6%;
    margin-left: 11%;
}

.all .protectionInfo{
    float: left;
    width: 45%;
    margin-top:15%;
    margin-left:2%;
    text-align: center;
}

.all .protectionInfo h1{
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color:#343a40;
    padding-bottom: 8%;
}

.all .protectionInfo p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:#444444
}

.security{
    margin:3% 0 
}

.security h1{
    text-align: center;
    position: relative;
    font-size: 3rem;
}

.idk {
    overflow: hidden;
    position: relative;
    padding-top: 12%;
    height: 750px;
}


idk{
    height: 700px;
}

.idk h1{
    font-size: 3rem;
    padding-top:2%
}

.icons{
    background-color: #F3F8FA;
    height: 300px;
    padding:40px;
    overflow: hidden;
    margin-top:100px
}

.iconsOne{
    float: left;
    width: 23%;
    display: grid;
    place-items: center;
    color: #343a40;
    margin-left: 20px;
}

.iconsOne img{
    padding-bottom: 5%;
    opacity: .8;
}

.security2{
    margin:5% 0;
    display: grid;
    place-items: center; 
}

.security2 h1{
    text-align: center;
    position: relative;
    font-size: 28px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif
}

.security2 p{
    margin-top: 3%;
    text-align: center;
    font-size: 15px;
    color: #444444;
    font-family: 'open sans', sans-serif;
    padding-bottom: 50px;
}

.security2 h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 2px;
    background: #ddd;
    bottom: -10px;
    left: calc(50% - 80px);
}

.security2 h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 5px;
    background: #5c548b;
    bottom: -11px;
    left: calc(50% - 25px);
}

.firewalls{
    background-color: #F3F8FA;
    height: 600px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.wesh{
    background-color: white;
    width:80%;
    height: 500px;
    padding:10px
}

.firewalls .info{
    float: left;
    width: 45%;
    margin-top:10%;
    margin-left: 5%;
}

.firewalls .info h4{
    color:#343a40;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    text-align: center;
    padding-bottom: 10px;
}

.firewalls .info p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    text-align: left;
    padding-bottom: 10px;
}

.firewalls .info span{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    margin-top:10%
}

.firewalls img{
    float: left;
    width: 45%;
    margin-top: 14%;
    margin-left:3%
}



.pricing{
    background-color: #F3F8FA;
    height: 1000px;
}

.pricing h1{
    text-align: center;
    position: relative;
    font-size: 28px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

.pricing h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 2px;
    background: #ddd;
    bottom: -10px;
    left: calc(50% - 80px);
}

.pricing h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 5px;
    background: #5c548b;
    bottom: -11px;
    left: calc(50% - 25px);
}

.boxs{
    margin-left:5%
}

.box{
    padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgb(73 78 92 / 15%);
    background: #fff;
    text-align: center;
    width:350px;
    height: 500px;
    float: left;
}

.box h2{
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
}

.box span{
    font-size: 50px;
    color: #68A4C4;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
}

.box h4{
    color:#999;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

i{
    color: #68A4C4;
}

.box button{
    background-color: #1E4356;
    border:none;
    color:rgb(226, 226, 226)
}

.box1{
   margin-left:5%
}

.box2{
    transform: scale(1.1);
}

.box2 button{
    background-color: #68A4C4;
}

@media (max-width: 768px){
    .idk {
        padding-top: 30%;
        height: 2025px !important;
    }

    .all .protectionInfo {
        float: left;
        width: 98% !important;
        margin-top: 5% !important;
    }

    .all img {
        float: left;
        width: 81% !important;
    }

    .security p {
        font-size: 13px !important;
    }

    .security h1 {
        font-size: 2rem !important;
    }

    .iconsOne {
        float: left;
        width: 45% !important;
        display: grid;
        place-items: center;
        color: #343a40;
        margin-left: 20px !important;
        margin-top: 41px !important;
    }

    .icons {
        background-color: #F3F8FA;
        height: 538px !important;
        padding: 40px;
        overflow: hidden;
        margin-top: 100px;
    }

    .firewalls img {
        float: left;
        width: 80% !important;
        margin-top: 3% !important;
        margin-left: 11% !important;
    }

    .firewalls .info {
        float: left;
        width: 94% !important;
        margin-top: 10% !important;
        margin-left: 5% !important;
    }
}


